Repository kadena-io/pact, changes with the owners that CODEOWNERS names for each.
All owners: @jwiegley, @emilypi, @sirlensalot, @jmcardon

CODEOWNERS:

* @jwiegley @emilypi
/src-ghc/Pact/ApiReq.hs @sirlensalot
/src-ghc/Pact/Bench.hs @sirlensalot
/src-ghc/Pact/Coverage.hs @sirlensalot
/src-ghc/Pact/Coverage/Report.hs @sirlensalot
/src-ghc/Pact/Interpreter.hs @sirlensalot
/src/Crypto/Hash/Blake2Native.hs @sirlensalot
/src/Pact/Compile.hs @sirlensalot
/src/Pact/Eval.hs @sirlensalot
/src/Pact/Gas.hs @sirlensalot
/src/Pact/Native.hs @sirlensalot
/src/Pact/Native/Capabilities.hs @sirlensalot
/src/Pact/Native/Db.hs @sirlensalot
/src/Pact/Native/Ops.hs @jmcardon
/src/Pact/Parse.hs @sirlensalot
/src/Pact/Persist.hs @sirlensalot
/src/Pact/PersistPactDb.hs @sirlensalot
/src/Pact/Repl.hs @sirlensalot
/src/Pact/Repl/Lib.hs @sirlensalot
/src/Pact/Repl/Types.hs @sirlensalot
/src/Pact/Runtime/Capabilities.hs @sirlensalot
/src/Pact/Runtime/Typecheck.hs @sirlensalot
/src/Pact/Typechecker.hs @sirlensalot
/src/Pact/Types/API.hs @sirlensalot
/src/Pact/Types/Advice.hs @sirlensalot
/src/Pact/Types/Capability.hs @sirlensalot
/src/Pact/Types/Codec.hs @sirlensalot
/src/Pact/Types/Command.hs @sirlensalot
/src/Pact/Types/Continuation.hs @sirlensalot
/src/Pact/Types/Exp.hs @sirlensalot
/src/Pact/Types/Hash.hs @sirlensalot
/src/Pact/Types/Info.hs @sirlensalot
/src/Pact/Types/KeySet.hs @sirlensalot
/src/Pact/Types/PactError.hs @sirlensalot
/src/Pact/Types/PactValue.hs @sirlensalot
/src/Pact/Types/Parser.hs @sirlensalot
/src/Pact/Types/Persistence.hs @sirlensalot
/src/Pact/Types/Purity.hs @sirlensalot
/src/Pact/Types/RPC.hs @sirlensalot
/src/Pact/Types/Runtime.hs @sirlensalot
/src/Pact/Types/Term.hs @sirlensalot
/src/Pact/Types/Type.hs @sirlensalot
/src/Pact/Types/Typecheck.hs @sirlensalot

spelling error
  tests/pact/tc.repl
Owners: @jwiegley, @emilypi

[FORK] Add runtime type check for function return types (#1209)
  examples/cp/orders.pact
  src/Pact/Eval.hs
  tests/pact/tc.repl
Owners: @jwiegley, @emilypi, @sirlensalot

wip
  src-tool/Pact/Analyze/Translate.hs
Owners: @jwiegley, @emilypi

add test
  tests/AnalyzeSpec.hs
Owners: @jwiegley, @emilypi

Update src-tool/Pact/Analyze/Translate.hs
  src-tool/Pact/Analyze/Translate.hs
Owners: @jwiegley, @emilypi

address review comments
  src-tool/Pact/Analyze/Translate.hs
Owners: @jwiegley, @emilypi

update changelog
  CHANGELOG.md
Owners: @jwiegley, @emilypi

emily suggestion
  src/Pact/Native/Internal.hs
Owners: @jwiegley, @emilypi

read-msg recoverable under some key (#1223)
  CHANGELOG.md
  src/Pact/Native/Internal.hs
  tests/pact/try.repl
Owners: @jwiegley, @emilypi

Pact 4.7 Release Prep (#1218)
  CHANGELOG.md
  docs/en/pact-functions.md
  docs/en/pact-functions.rst
  docs/en/pact-properties-api.rst
  docs/en/pact-reference.rst
  pact.cabal
Owners: @jwiegley, @emilypi

Cleanup PactContinuationSpec (#1222)
  tests/PactContinuationSpec.hs
Owners: @jwiegley, @emilypi

bump z3, unify versions
  .github/workflows/applications.yml
Owners: @jwiegley, @emilypi

wip
  .github/workflows/applications.yml
Owners: @jwiegley, @emilypi

add gh step printing z3 version
  .github/workflows/applications.yml
Owners: @jwiegley, @emilypi

drop windows
  .github/workflows/applications.yml
Owners: @jwiegley, @emilypi

z3 version difference ubuntu 20.04 vs 22.04
  .github/workflows/applications.yml
Owners: @jwiegley, @emilypi

add pact-lsp info, remove stack
  README.md
Owners: @jwiegley, @emilypi

Fix ReplSpec tests (#1216)
  .github/workflows/applications.yml
Owners: @jwiegley, @emilypi

fix partial bind
  src-tool/Pact/Analyze/Translate.hs
  tests/AnalyzeSpec.hs
Owners: @jwiegley, @emilypi

Add CoverageSpec to PactTests
  tests/PactTests.hs
Owners: @jwiegley, @emilypi

egcd support
  pact.cabal
  src-ghc/Pact/GasModel/GasTests.hs
  src/Pact/Gas/Table.hs
  src/Pact/Native.hs
  src/Pact/Native/ModularArithmetic.hs
  tests/ModularArithmeticSpec.hs
  tests/PactTests.hs
  tests/pact/egcd.repl
Owners: @jwiegley, @emilypi, @sirlensalot

avoid runio in code under test
  tests/CoverageSpec.hs
Owners: @jwiegley, @emilypi

Add CoverageSpec to PactTests (#1228)
  tests/PactTests.hs
Owners: @jwiegley, @emilypi

fix partial bind in FV (#1227)
  src-tool/Pact/Analyze/Translate.hs
  tests/AnalyzeSpec.hs
Owners: @jwiegley, @emilypi

avoid runio in code under test (#1229)
  tests/CoverageSpec.hs
Owners: @jwiegley, @emilypi

Update README.md
  README.md
Owners: @jwiegley, @emilypi

remove redundant Orphan for Value
  src/Pact/Types/Orphans.hs
Owners: @jwiegley, @emilypi

replace aeson encode by pact json encode
  pact.cabal
  src-ghc/Pact/ApiReq.hs
  src-ghc/Pact/Bench.hs
  src-ghc/Pact/Persist/SQLite.hs
  src-ghc/Pact/Server/History/Persistence.hs
  src-ghc/Pact/Types/Crypto.hs
  src-tool/Pact/Analyze/Eval/Core.hs
  src/Pact/Analyze/Remote/Client.hs
  src/Pact/Eval.hs
  src/Pact/Native.hs
  src/Pact/Types/API.hs
  src/Pact/Types/Command.hs
  src/Pact/Types/Principal.hs
  src/Pact/Types/Term.hs
  src/Pact/Types/Term/Internal.hs
  src/Pact/Types/Util.hs
  tests/GasModelSpec.hs
  tests/GoldenSpec.hs
  tests/PactContinuationSpec.hs
  tests/RoundTripSpec.hs
  tests/SchemeSpec.hs
Owners: @jwiegley, @emilypi, @sirlensalot

add z3 version
  README.md
Owners: @jwiegley, @emilypi

GH action cleanup + z3 version bump (#1226)
  .github/workflows/applications.yml
  README.md
Owners: @jwiegley, @emilypi

Cleanup README (add pact-lsp, remove stack instructions) (#1225)
  README.md
Owners: @jwiegley, @emilypi

fix incomplete pattern
  src/Pact/Types/PactError.hs
Owners: @sirlensalot

Fix empty list translation (#1224)
  src-tool/Pact/Analyze/Translate.hs
  tests/AnalyzeSpec.hs
Owners: @jwiegley, @emilypi

update pact-json
  cabal.project
  src/Pact/Types/Continuation.hs
  src/Pact/Types/Persistence.hs
  src/Pact/Types/Pretty.hs
  src/Pact/Types/Term/Internal.hs
  tests/GasModelSpec.hs
Owners: @jwiegley, @emilypi, @sirlensalot

servant support for PactJson
  pact.cabal
  src/Pact/Utils/Servant.hs
Owners: @jwiegley, @emilypi

yaml utils for GasModelSpec
  tests/GasModelSpec.hs
Owners: @jwiegley, @emilypi

fix docs for `env-sigs`
  docs/en/pact-functions.md
  docs/en/pact-functions.rst
  docs/en/pact-reference.md
  docs/en/pact-reference.rst
  src/Pact/Repl/Lib.hs
Owners: @jwiegley, @emilypi, @sirlensalot

Revert "[FORK] Add runtime type check for function return types (#1209)"
  examples/cp/orders.pact
  src/Pact/Eval.hs
  tests/pact/tc.repl
Owners: @jwiegley, @emilypi, @sirlensalot

rep 4.7.1 release
  CHANGELOG.md
  docs/en/pact-functions.md
  pact.cabal
Owners: @jwiegley, @emilypi

add runtime return tc flag `DisableReturnRTC`
  docs/en/pact-functions.md
  src/Pact/Eval.hs
  src/Pact/Types/Runtime.hs
  tests/pact/tc.repl
Owners: @jwiegley, @emilypi, @sirlensalot
