Repository kadena-io/pact, changes with the owners that CODEOWNERS names for each.
All owners: @jwiegley, @emilypi, @sirlensalot, @jmcardon

CODEOWNERS:

* @jwiegley @emilypi
/src-ghc/Pact/ApiReq.hs @sirlensalot
/src-ghc/Pact/Bench.hs @sirlensalot
/src-ghc/Pact/Coverage.hs @sirlensalot
/src-ghc/Pact/Coverage/Report.hs @sirlensalot
/src-ghc/Pact/Interpreter.hs @sirlensalot
/src/Crypto/Hash/Blake2Native.hs @sirlensalot
/src/Pact/Compile.hs @sirlensalot
/src/Pact/Eval.hs @sirlensalot
/src/Pact/Gas.hs @sirlensalot
/src/Pact/Native.hs @sirlensalot
/src/Pact/Native/Capabilities.hs @sirlensalot
/src/Pact/Native/Db.hs @sirlensalot
/src/Pact/Native/Ops.hs @jmcardon
/src/Pact/Parse.hs @sirlensalot
/src/Pact/Persist.hs @sirlensalot
/src/Pact/PersistPactDb.hs @sirlensalot
/src/Pact/Repl.hs @sirlensalot
/src/Pact/Repl/Lib.hs @sirlensalot
/src/Pact/Repl/Types.hs @sirlensalot
/src/Pact/Runtime/Capabilities.hs @sirlensalot
/src/Pact/Runtime/Typecheck.hs @sirlensalot
/src/Pact/Typechecker.hs @sirlensalot
/src/Pact/Types/API.hs @sirlensalot
/src/Pact/Types/Advice.hs @sirlensalot
/src/Pact/Types/Capability.hs @sirlensalot
/src/Pact/Types/Codec.hs @sirlensalot
/src/Pact/Types/Command.hs @sirlensalot
/src/Pact/Types/Continuation.hs @sirlensalot
/src/Pact/Types/Exp.hs @sirlensalot
/src/Pact/Types/Hash.hs @sirlensalot
/src/Pact/Types/Info.hs @sirlensalot
/src/Pact/Types/KeySet.hs @sirlensalot
/src/Pact/Types/PactError.hs @sirlensalot
/src/Pact/Types/PactValue.hs @sirlensalot
/src/Pact/Types/Parser.hs @sirlensalot
/src/Pact/Types/Persistence.hs @sirlensalot
/src/Pact/Types/Purity.hs @sirlensalot
/src/Pact/Types/RPC.hs @sirlensalot
/src/Pact/Types/Runtime.hs @sirlensalot
/src/Pact/Types/Term.hs @sirlensalot
/src/Pact/Types/Type.hs @sirlensalot
/src/Pact/Types/Typecheck.hs @sirlensalot

update CHANGELOG.md
  CHANGELOG.md
Owners: @jwiegley, @emilypi

Reverse direction of feature flag
  docs/en/pact-functions.md
  src/Pact/Eval.hs
  src/Pact/Types/Runtime.hs
  tests/pact/tc.repl
Owners: @jwiegley, @emilypi, @sirlensalot

fix haddock
  src/Pact/Types/Runtime.hs
Owners: @sirlensalot

Revert "fix haddock"
  src/Pact/Types/Runtime.hs
Owners: @sirlensalot

Revert "Reverse direction of feature flag"
  docs/en/pact-functions.md
  src/Pact/Eval.hs
  src/Pact/Types/Runtime.hs
  tests/pact/tc.repl
Owners: @jwiegley, @emilypi, @sirlensalot

address comments
  src/Pact/Eval.hs
Owners: @sirlensalot

address missing newline
  src/Pact/Eval.hs
Owners: @sirlensalot

unambiguous name
  CHANGELOG.md
  docs/en/pact-functions.md
  src/Pact/Eval.hs
  src/Pact/Types/Runtime.hs
  tests/pact/tc.repl
Owners: @jwiegley, @emilypi, @sirlensalot

Update tests/pact/tc.repl
  tests/pact/tc.repl
Owners: @jwiegley, @emilypi

nix bumps
  cabal.project
  flake.lock
  flake.nix
Owners: @jwiegley, @emilypi

Flag to disable return RTC, 4.7.1 release prep (#1231)
  CHANGELOG.md
  docs/en/pact-functions.md
  examples/cp/orders.pact
  pact.cabal
  src/Pact/Eval.hs
  src/Pact/Types/Runtime.hs
  tests/pact/tc.repl
Owners: @jwiegley, @emilypi, @sirlensalot

TC: support lambda typechecking
  src/Pact/Typechecker.hs
  src/Pact/Types/Typecheck.hs
  tests/TypecheckSpec.hs
  tests/pact/tc.repl
Owners: @sirlensalot, @jwiegley, @emilypi

changelog
  CHANGELOG.md
Owners: @jwiegley, @emilypi

Add real world pact to tutorials section
  README.md
Owners: @jwiegley, @emilypi

update pact-json pin
  cabal.project
Owners: @jwiegley, @emilypi

fix sorting of coverage report
  src-ghc/Pact/Coverage/Report.hs
Owners: @sirlensalot

disable tojson warnings
  src/Pact/Types/Util.hs
Owners: @jwiegley, @emilypi

update pact-json pin
  cabal.project
Owners: @jwiegley, @emilypi

fix gas mode spec tests
  tests/GasModelSpec.hs
Owners: @jwiegley, @emilypi

encode instance for server config
  src-ghc/Pact/Server/Server.hs
Owners: @jwiegley, @emilypi

encode instances for SQLiteConfig
  src-ghc/Pact/Types/SQLite.hs
  tests/Test/Pact/Utils/LegacyValue.hs
Owners: @jwiegley, @emilypi

wip
  docs/en/pact-functions.md
  src/Pact/Eval.hs
  src/Pact/Types/Runtime.hs
Owners: @jwiegley, @emilypi, @sirlensalot

add tests
  tests/pact/modrefs.repl
Owners: @jwiegley, @emilypi

add DisablePact48 flag
  src/Pact/Eval.hs
  tests/pact/modrefs.repl
Owners: @sirlensalot, @jwiegley, @emilypi

TC: support lambda typechecking (#1232)
  CHANGELOG.md
  src/Pact/Typechecker.hs
  src/Pact/Types/Typecheck.hs
  tests/TypecheckSpec.hs
  tests/pact/tc.repl
Owners: @jwiegley, @emilypi, @sirlensalot

Factor out BareName resolve
  src/Pact/Eval.hs
Owners: @sirlensalot

address review comments
  src/Pact/Eval.hs
  tests/pact/fqns.repl
  tests/pact/modrefs.repl
Owners: @sirlensalot, @jwiegley, @emilypi

simplification
  src/Pact/Eval.hs
Owners: @sirlensalot

Fix incorrect module name
  tests/pact/fqns.repl
Owners: @jwiegley, @emilypi

check defun args count
  src/Pact/Typechecker.hs
Owners: @sirlensalot

TC: reject invalid partial applications
  src/Pact/Typechecker.hs
  tests/TypecheckSpec.hs
  tests/pact/tc.repl
Owners: @sirlensalot, @jwiegley, @emilypi

keccak256-bs support
  src-ghc/Pact/Types/ECDSA.hs
  src/Pact/Gas/Table.hs
  src/Pact/Native/ModularArithmetic.hs
Owners: @jwiegley, @emilypi

Update README.md
  README.md
Owners: @jwiegley, @emilypi

add windows builds
  .github/workflows/applications.yml
Owners: @jwiegley, @emilypi

add z3 windows
  .github/workflows/applications.yml
Owners: @jwiegley, @emilypi

wip
  pact.cabal
  tests/PactTests.hs
  tests/ReplSpec.hs
Owners: @jwiegley, @emilypi

json instance fixes
  src/Pact/Analyze/Remote/Types.hs
  src/Pact/Types/SigData.hs
  src/Pact/Types/Util.hs
  tests/Test/Pact/Utils/LegacyValue.hs
Owners: @jwiegley, @emilypi

keccak256-bs gas test
  src-ghc/Pact/GasModel/GasTests.hs
  src/Pact/Gas/Table.hs
  src/Pact/Native/ModularArithmetic.hs
  tests/ModularArithmeticSpec.hs
Owners: @jwiegley, @emilypi

Use lens
  src/Pact/Eval.hs
Owners: @sirlensalot

Correct spelling
  tests/pact/fqns.repl
Owners: @jwiegley, @emilypi
